* {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding-left: 16px !important;
    padding-right: 37px !important;
    width: 100%;
    height: 56px;
    background-color: #fff;
}

.left_header {
    display: flex;
    flex-direction: row;
    width: 185px;
    height: 40px;
    align-items: center;
    padding-left: 30px;
}

.burger_menu {
    background-image: url(./img/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-right: 10px;
}

.logo {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/dd/YouTube_Premium_logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 98px;
    height: 24px;
    padding: 8px;
}

.search_field_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 718px;
    height: 40px;
    /* border: 1px solid red; */
}

.right_header {
    display: flex;
    flex-direction: row;
    width: 185px;
    height: 40px;
    align-items: center;
    padding-right: 30px;
}

.search_cnt {
    display: flex;
    flex-direction: row;
    width: 640px;
    height: 30px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 2px;
}

.search_input {
    width: 575px;
    height: 30px;
}

.search_input input {
    outline: none;
    border: 0;
    padding: 0;
    padding-left: 8px;
    width: 575px;
    height: 30px;
}

.search_btn {
    width: 65px;
    height: 100%;
    border-left: 1px solid rgb(195, 195, 195);
    background-image: url(./img/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(238, 238, 238);
}

.voice_search_btn {
    width: 65px;
    height: 100%;
    background-image: url(./img/microphone.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

h1 {
    font-size: 20px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

p,
span,
ul,
li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    width: auto;
    background-color: rgb(248, 248, 248);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1024px;
    margin-top: 24px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1440px;
    max-width: 1440px;
    height: 100%;
}

.left_side {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 100%;
}

.video_container {
    max-width: 960px;
    max-height: 512px;
}

.description_container {
    padding: 37px;
}

.content_title {
    margin-bottom: 15px;
}

.content_description {
    font-size: 15px;
    font-weight: 300;
}

.right_side {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.list_container li {
    margin: 37px;
    padding-bottom: 37px;
    border-bottom: 1px solid black;
}